---
import Layout from '../../layouts/Layout.astro'
import Title from '../../components/Title.astro'
import ButtonBox from '../../components/ButtonBox.astro'
import type { Button } from '../../interfaces/Button'

const buttons: Button[] = [
    {
        name: 'Instagram',
        href: 'https://www.instagram.com/hidromielbajocero/',
        important: false
    },
    {
        name: 'Facebook',
        href: 'https://www.facebook.com/hidromielbajocero/',
        important: false
    },
    {
        name: 'Mercado Libre',
        href: 'https://www.mercadolibre.com/hidromielbajocero/',
        important: true
    }
]
---

<Layout title='Products'>
    <main class="text-white flex flex-col text-center pt-20 px-12">
        <Title title="Bodega de Hidromiel" />
        <Title title="y Licores." />
        <p class="mt-8 text-white">
            Podes encontrarnos en los siguientes medios:
        </p>
        <ButtonBox buttons={buttons}/>
    </main>
</Layout>