---
import Layout from '../../layouts/Layout.astro'
import Title from '../../components/Title.astro'
---

<Layout title='Products'>
    <main class="text-white flex flex-col text-center pt-20 px-12">
        <Title title="Bodega de Hidromiel" />
        <Title title="y Licores." />
        <p class="mt-8 text-white">
            Podes encontrarnos en los siguientes medios:
        </p>
    </main>
</Layout>