---
const { title, to } = Astro.props;
---

<a href={to} class="text-white inline-flex content-center items-center justify-center px-5 py-3 text-base font-medium text-center border border-primary rounded-lg hover:bg-primary focus:ring-4 focus:ring-primary">
    {title}
</a>